<html>
<head>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/primeflex/primeflex.css">
  <link rel="stylesheet" href="https://unpkg.com/primeflex/themes/primeone-dark.css">

	
  <!-- primevue -->
  <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet">
  <link href="https://unpkg.com/primevue/resources/themes/saga-blue/theme.css" rel="stylesheet">
  <link href="https://unpkg.com/primevue/resources/primevue.min.css" rel="stylesheet">

  <script src="https://unpkg.com/primevue/core/core.js"></script>

  <!--
  <link href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.css" rel="stylesheet">
  <script src="https://unpkg.com/primevue/passthrough/tailwind/index.js"></script>
  -->
	
  <script src="https://unpkg.com/primevue/radiobutton/radiobutton.js"></script>
  <script src="https://unpkg.com/primevue/selectbutton/selectbutton.js"></script>
  
</head>
<body>
  <div id="app"></div>
  
  <script>

    const options = {
      moduleCache: {
        vue: Vue
      },
      async getFile(url) {
        
        //return '<template>hello</template>';
        const res = await fetch(url);
        if ( !res.ok )
          throw Object.assign(new Error(res.statusText + ' ' + url), { res });
        return {
          getContentData: asBinary => asBinary ? res.arrayBuffer() : res.text(),
        }
      },
      addStyle(textContent) {
        const style = Object.assign(document.createElement('style'), { textContent });
        const ref = document.head.getElementsByTagName('style')[0] || null;
        document.head.insertBefore(style, ref);
      },
    }

    const { loadModule } = window['vue3-sfc-loader'];

    const app = Vue.createApp({
      components: {
        'my-component': Vue.defineAsyncComponent( () => loadModule('./myComponent.vue', options) )
      },
	  data() {
		return {
			text: 'abc',
			ingredient: '',
			value: '',
			options: ['a', 'b', 'c'],
		};
	  },
      template: `
<div class="formgrid grid">
    <div class="field col">
        <label for="firstname2">Firstname</label>
        <input id="firstname2" type="text" class="bg-primary surface-500 text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
        <label for="lastname2">Lastname</label>
		<InputText type="text" v-model="value" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
    </div>
</div>
<SelectButton v-model="value" :options="options" aria-labelledby="basic" />

		{{text}}
		<my-component>
			<template #slotB><div>123</div></template>
			<template><div>456</div></template>
		</my-component>`
    });

	// https://primevue.org/installation
	app.component('InputText', primevue.inputtext);
	app.component('RadioButton', primevue.radiobutton);
	app.component('SelectButton', primevue.selectbutton);
	  
	//app.use(primevue.config.default, {unstyled: true, pt: primevue.passthrough.tailwind});
	
	
    app.mount('#app');

  </script>
</body>
</html>